.component-svg
    font-size: 14px
    transition: all 0.3s ease
    color: rgba(59, 59, 59, 1)
    .line
        position: relative
        width: 1.5px
        height: 50px
        overflow: hidden
        margin: 0 auto 10px
        span
            position: absolute
            top: 0
            left: 0
            background-color: rgba(59, 59, 59, 1)
            width: 1.5px
            height: 50px
            transform: translateY(-100%)
            -webkit-animation: sdb 2s ease infinite
            animation: sdb 2s ease infinite
    &.top
        background-color: #fefdf653
        border-radius: 100px
        padding: 20px
        .line
            height: 20px
            overflow: visible
            background-color: rgba(59, 59, 59, 1)
            &::before
                content: ""
                position: absolute
                top: 0
                right: -3px
                background-color: rgba(59, 59, 59, 1)
                width: 1.5px
                height: 11px
                transform: rotate(-40deg) translateX(50%)

            span
                animation: none
                transform: rotate(40deg)
                transform-origin: top
                height: 12px

@keyframes sdb
    0%
        -webkit-transform: translateY(-100%)
        opacity: 1

    20%
        opacity: 1

    100%
        -webkit-transform: translateY(100%)
        opacity: 1

.load
    margin-top: 12px
    width: 100px
    height: 10px
    border-radius: 20px
    background: linear-gradient(#93192b 0 0) 0/0% no-repeat
    animation: l2 2s infinite steps(10)

@keyframes l2
    100%
        background-size: 200%
