// @import './variables'

// scroll
.component-svg
    position: fixed
    bottom: 0
    display: flex
    justify-content: center
    align-items: center
    width: 200px
    height: 200px
    > div
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 8px
        width: 80px
        height: 80px
        overflow: hidden
        &::before,
        &::after
            content: ''
            position: relative
            width: 1px
            height: 50px
            background-color: #3B3B3B
            animation: moveUpFade 3s linear infinite
        &::after
            top: 30px
            animation-direction: reverse
        &::before
            display: none
            bottom: 30px
    &.top
        > div
            &::before
                display: block
            &::after
                display: none

@keyframes moveUpFade
    0%
        transform: translateY(50%)
        opacity: 0

    10%
        opacity: 1

    90%
        transform: translateY(-50%)
        opacity: 1

    100%
        opacity: 0
        transform: translateY(-90%)

// animation
.bounce-in
    animation: bounceIn 0.5s ease

.scroll-section
    opacity: 0
    transform: translateY(50px)

@keyframes bounceIn
    0%
        transform: scale(0.9)
        opacity: 0

    60%
        transform: scale(1.05)
        opacity: 1

    100%
        transform: scale(1)
